registry=https://registry.npmjs.org/
@digitalxtian:registry=https://digitalxtian-com-964108025908.d.codeartifact.us-east-1.amazonaws.com/npm/aws-cdk
//digitalxtian-com-964108025908.d.codeartifact.us-east-1.amazonaws.com/npm/aws-cdk/:always-auth=true
//digitalxtian-com-964108025908.d.codeartifact.us-east-1.amazonaws.com/npm/aws-cdk/:_authToken=${CODEARTIFACT_AUTH_TOKEN}